# npm installed local dependencies
node_modules
src/**/*.js
src/**/*.d.ts
src/**/*.d.ts.map
test/**/*.js
test/**/*.d.ts
test/**/*.d.ts.map

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Build files
tsconfig.tsbuildinfo
tsconfig.test.tsbuildinfo

.env
coverage
*.rgblock
*.bin.gz

.railgun
drizzle